@model Customer

@{
    Layout = "_Layout_LoginPage";
}

<div class="vw-100 vh-100 relative">
    @using (Html.BeginForm("LoginPage", "Home",
    new { },
    FormMethod.Post,
    true,
    new { }))
    {
        <div class="border border-1 border-opacity-25 border-black rounded-2 container row p-4 w-75 h-75 position-absolute top-50 start-50 translate-middle gap-0 g-0">
            <div class="align-self-center mb-0">
                <h1 class="fs-1 fw-light">Login Page</h1>
                <hr />
            </div>

            <div class="container d-flex flex-column gap-2 align-items-center ">
                <div class="row input-group align-items-center py-2 gap-md-2">
                    <div class="col-12 col-lg-2 text-start text-lg-end my-auto">
                        @Html.LabelFor(m => m.EmailAddress)
                    </div>
                    <div class="col-md-8 col-lg-6">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                    </div>
                    <div class="row ps-md-0 ps-lg-3">
                        <div class="col-2 d-none d-lg-block"></div>
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "col-lg-6 fst-italic", @style = "color:crimson;" })
                    </div>
                </div>
                <div class="row input-group align-items-center py-2 gap-md-2">
                    <div class="col-12 col-lg-2 text-start text-lg-end my-auto">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="col-md-8 col-lg-6">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="row ps-md-0 ps-lg-3">
                        <div class="col-2 d-none d-lg-block"></div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "col-lg-6 fst-italic", @style = "color:crimson;" })
                    </div>
                </div>

            </div>

            <div class="container row align-items-start mx-auto mt-3 gap-2">
                <Button class="btn btn-primary ms-lg-auto col-2" type="submit">Login</Button>
                <a class="btn btn-primary col-2">Cancel</a>
            </div>
            <div class="d-flex justify-content-end bottom-0 start-0 position-absolute pe-1">
                <p class="fst-italic fw-light fs-6 mb-1 bg-info-subtle rounded-pill p-1">© All rights reserved ® by <span class="fst-normal fw-semibold">Kopil Kaiser</span> ™</p>
                @*
                    TM - Alt + 0153
                    CopyRight(C) - Alt + 0169
                    Rights Reserved(R) - Alt + 0174
                *@
            </div>
        </div>
    }
</div>