@model Account
@{

    List<SelectListItem> accountTypes = new()
    {
           new SelectListItem("Savings", "Savings"),
           new SelectListItem("Debit", "Debit")
    };
}

@using (Html.BeginForm())
{
    <div class="container mt-5 pt-4">
        <div class="card">
            <div class="card-header fw-light fs-4">
                Opening Account for <span class="text-capitalize fw-semibold fs-3">@ViewData["CustomerFullName"]</span>
            </div>
            <div class="card-body">
                <input type="hidden" name="showGoBack" value="@TempData["ShowGoBack"]"></input>
                <label class="mb-1">Enter your initial deposit: </label>
                <input class="form-control" name="balance" type="number" value="0" min="0" max="1_000_000_000"/>
                <p class="mt-2">@Html.ValidationMessage("balanceInvalidMessage")</p>
                <div>@Html.DropDownList("accountTypeSelected", accountTypes, new {@class = "form-select"})</div>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-outline-info @TempData["ShowGoBack"]" asp-action="ManageProfile" asp-controller="Account">Go Back</a>
            </div>
        </div>
    </div>
}

