@model AccountViewModel

@{
    ViewData["Title"] = "Manage Profile";
}


<div class="container mt-4">
    <h3>Profile: <span class="fs-3 fw-light">@(Model!.Customer!.FullName)</span></h3>

    <div class="mt-2 mb-2 card p-2">
        <p><b>First Name:</b> <span>@Model.Customer.FirstName</span></p>
        <p><b>Last Name:</b> <span>@Model.Customer.LastName</span></p>
        <p><b>Email:</b> <span>@Model.Customer.EmailAddress</span></p>
        <p><b>Password:</b> <span>@Html.TextBoxFor(m => m.Customer!.Password, new { @class = "passwordInputReadonly", @type = "password", value = Model.Customer.Password, @readonly="readonly"})</span></p>
        <p><b>Phone number:</b> <span>@Model.Customer.Phonenum</span></p>
        <p><b>Date registered:</b> <span>@Model.Customer.RegistrationDate</span></p>
        <div>
            <span class="fs-5 fw-light">Address Details: </span>
            <hr class="mt-2">
            <p><b>Street Address:</b> <span>@Model.Customer.StreetAddress</span></p>
            <p><b>City:</b> <span>@Model.Customer.City</span></p>
            <p><b>Post code:</b> <span>@Model.Customer.PostCode</span></p>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="EditProfileDetails" asp-controller="Account">Edit Profile</a>
        <a class="btn btn-primary" asp-action="OpenAccount" asp-controller="Customer" asp-route-id="@Model.Customer.CustomerId" asp-route-showGoBack="true">Open an Account</a>
    </div>
    <div class="pt-2">
        <h5 class="mt-2">You have the following Accounts: </h5>
        @if (Model.Accounts!.Count > 0)
        {
            @foreach (var account in Model.Accounts!)
            {
                <div class="d-inline-block border border-1 p-3 gap-1 mx-auto">
                    <p><span class="fw-semibold">Account Type: </span><span>@account.AccountType</span></p>
                    <p><span class="fw-semibold">Account No: </span><span>@account.AccountNo</span></p>
                    <p><span class="fw-semibold">Current Balance: </span><span>@(string.Format("{0:C2}", account.Balance))</span></p>
                    <!--#region ModalButton-->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Delete Account
                    </button>
                    <!--#endregion ModalButton -->

                    <!--#region Modal Dialog -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure about deleting this account?</p>
                                    <p class="my-auto"><span class="text-danger"><i class="bi bi-exclamation-octagon me-1"></i>Warning</span>: Please make sure you withdraw all your funds before deleting your account!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger d-inline-block" asp-action="DeleteAccount" asp-route-accountId="@account.AccountId">
                                        Confirm Deletion
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion Modal Dialog -->
                </div>
            }
        } else
        {
            <div>
                <p>You do not have any account opened with us</p>
            </div>
        }
        <div class="pt-3">
            <div class="alert alert-@ViewData["AlertType"] @ViewData["ShowMessage"] alert-dismissible" role="alert">
                <i class="bi bi-info-circle me-2"></i>@ViewData["ResponseMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert">
                </button>
            </div>
        </div>

    </div>
</div>